<nav class="navbar navbar-inverse galaxy-navigation-background">
  <a class="navbar-brand" id="homepage"  href="/">HomePage</a>
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown <%= exercise === 'exercise-1' ? 'active' : ''%>">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercise 1 <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-style-own" aria-labelledby="navbarDropdown">
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task1' ? 'active' : ''%>" href="/exercise-1/task1">Task_1</a>
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task2' ? 'active' : ''%>" href="/exercise-1/task2">Task_2</a>
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task3' ? 'active' : ''%>" href="/exercise-1/task3">Task_3</a>
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task4' ? 'active' : ''%>" href="/exercise-1/task4">Task_4</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown <%= exercise === 'exercise-2' ? 'active' : ''%>">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercise 2 <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-style-own" aria-labelledby="navbarDropdown">
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task1' ? 'active' : ''%>" href="/exercise-2/task1">Task_1</a>
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task2' ? 'active' : ''%>" href="/exercise-2/task2">Task_2</a>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item dropdown <%= exercise === 'exercise-3' ? 'active' : ''%>">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercise 3 <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-style-own" aria-labelledby="navbarDropdown">
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task1' ? 'active' : ''%>" href="/exercise-3/task1">Task_1</a>
        <a class="dropdown-item dropdown-item-style-own <%= task === 'task2' ? 'active' : ''%>" href="/exercise-3/task2">Task_2</a>
      </div>
    </li>
  </ul>
  <a href="http://github.com/lmt20"><h4 class="navbar-link pull-right plr-20 pt-5">  Le Manh Truong</h4></a>

</nav>
